
/* Loader */

#loader{
    position:fixed;
    top:0;
    left:0;
    background:rgba(255,255,255,0.5);
    background-image: url(../images/loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
    z-index:2000;
    width:100%;
    height:100%;
}




/* Input Uppercase */

input[data-transform=uppercase] {
    text-transform: uppercase;
}


.action{
    width: 140px !important
}

.action-3{
    width: 120px !important;

}

.th-10{
    width: 50px !important
}

.th-15{
    width: 75px !important
}

.th-20{
    width: 100px !important
}

.th-25{
    width: 125px !important
}

.th-30{
    width: 150px !important
}

.w-50{
    width: 50% !important
}


.w-40{
    width: 40% !important
}


.modal-content  {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important; 
}

.block_farm_table tbody tr td:last-child,
.block_farm_table tbody tr td:nth-last-child(2){
    width: 80px
}

.block_farm_table {
    font-size: calc(110% - 1px) !important;
}

.block_farm_table thead{
    text-align: center;
    font-weight: bold;
}


.stamps{
    text-align: left;
    color: #777;
}

#tbl_loader{
    padding-bottom: 50px; 
    padding-top: 50px
}

.sm-margin{
    margin: 5px
}

.attatchment-horizontal{
    width: 100%; height: 80px ; border: 1px solid #eee 
}

.attatchment-horizontal > div:first-child {
    width: 20%; float: left
}

.attatchment-horizontal > div:nth-child(2) {
    width: 79%; float: right; height: 78px; 
}

.attatchment-horizontal .mailbox-attachment-info{
    height: inherit;
}
.attatchment-horizontal .mailbox-attachment-size{
    padding-top: 22px;
}

.attatchment-horizontal .mailbox-attachment-icon{
    font-size: 32px;
}
/*.modal-content .modal-header {
    background-color: #605ca8 !important;
    color: white;
    border-radius: 5px 5px 0px 0px !important;
}*/
.page-header-sm{
    margin: 5px 0 10px 0 !important;
    font-size: 13px;
    font-family: inherit;
}
.page-header-sm {
    padding-bottom: 01;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.on-well{
    margin: 6px 0 3px 0 !important;
}

.table-subdetail{
    border-top:1px solid #e7e7e7; font-size:12px; color:#7d7d7d
}

.sex-th{
    width: 50px
}

.time-th{
    width: 110px !important
}

.th-90{
    width: 90px
}


body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute !important;
  opacity: 0.5 !important;
  z-index: 2000 !important;
}

ol.example li.placeholder {
  position: relative !important;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute !important;
  /** Define arrowhead **/
}

.help-block{
    margin-bottom: 0px !important;
}

#advanced_filters{
    background-color: #efefef;
}

.dt-select{
    width: 20px !important;
}
.no-hover{
    color: white !important;
}
.no-hover:hover{
    color: inherit !important;
    background-color: inherit !important;
    cursor: default !important;
}

.text-strong{
    font-weight: bold !important;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-top: 15px;
  padding-left: 15px;
  
}

.scrolling-card {
    display: inline-block;
  }

.scrolling-li{
    padding: 10px;

}
.scrolling-li:hover {
    cursor: pointer;
    box-shadow: 5px 10px 18px #888888;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: scale(1.1, 1.1);
}

.bg-none{
    background-color: #eaeaea;
}

.name{
    width: 200px !important
}
